.button{
  border-radius: 8px;
}
.card {
  padding: 2rem;
  margin: 2rem;
  max-width: 50%;
}
::ng-deep.p-dialog {
  width: 30% !important;
  height: 50% !important;
}
::ng-deep.p-button{
  border-radius: 5px;
  
}
::ng-deep.p-dialog .p-field label {
  margin-top: 1rem;
}

