
<footer class="footer">
    <section class="section-b-space light-layout section">
      <div class="container">
        <div class="footer-theme partition-f">
          <div class="col-lg-3 col-md-4">
            <div class="footer-contant">
              <div class="footer-logo">
                <a (click)="aboutUs()">
                <img [src]="themeLogo" class="logo" alt="logo">
                </a>
              </div>
    
            </div>
          </div>
          <div class=" col-3 footer-social">
            <div class="footer-title">
                <h4>Social Media</h4>
              </div>
            <ul>
              <li>
                <a href="https://www.instagram.com" target="_blank"><i class="pi pi-instagram" aria-hidden="true"></i> Instagram</a>
            </li>
            <li>
                <a href="https://www.linkedin.com" target="_blank"><i class="pi pi-linkedin" aria-hidden="true"></i> Linkedin</a>

            </li>
            </ul>
          </div>
          <div class="col-3 mobile-title">
            <div class="sub-title">
              <div class="footer-title">
                <h4>Help</h4>
              </div>
              <div class="footer-contant">
                <ul>
                  <li><a (click)="aboutUs()">About Us</a></li>
                  <li><a (click)="kvkk()">KVKK</a></li>
                  <li><a (click)="privacy()">Privacy</a></li>
                  <li><a (click)="cookie()">Cookie</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-3 mobile-title">
            <div class="sub-title">
              <div class="footer-title">
                <h4>Contact Us</h4>
              </div>
              <div class="footer-contant">
                <ul class="ul-fix">
                  <li><i class="pi pi-whatsapp contact-list"></i><a>+12 345 67 89</a></li>
                  <li><i class="pi pi-envelope contact-list"></i> <a class="mail">info@info.com</a> </li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
  </footer>
  