.page-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh;
    background: linear-gradient(to right, #89c7d4, #117c96);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.login-header .logo {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

.login-card {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: white;
    width: 300px;
    text-align: center;
}

.login-card input[type="text"],
.login-card input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-card button {
    width: 100%;
    padding: 15px;
    background-color: #2193b0; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.login-card button:hover {
    background-color: #6dd5ed; 
}

.warning{
    margin-top: 1rem;
    font-size: 10px;
    font-weight: 600;
}
.header{
 margin-left: 1rem;
}
