.card {
  padding: 2rem;
  margin: 2rem;
  max-width: 65%;
  .chart-definition{
  margin:2rem;
  font-size: medium;
  }
}
  .table-title{
    font-size: 20px;
    font-weight: 600;
    margin-left: 2rem;
    color: #617198;
    display: flex;
    justify-content: left;
  }
  